
/* sudoku-clear-cell-bt {
-webkit-appearance: none;
-webkit-writing-mode: horizontal-tb;
align-items: flex-start;
background-color: rgba(168, 62, 62, 0.8);
border-bottom-color: rgb(239, 239, 237);
border-bottom-left-radius: 25px;
border-bottom-right-radius: 0px;
border-bottom-style: none;
border-bottom-width: 0px;
border-collapse: separate;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(239, 239, 237);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(239, 239, 237);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(239, 239, 237);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(239, 239, 237);
cursor: pointer;
display: block;
font-family: sans-serif;
font-size: 18px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 23px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
min-width: 16px;
opacity: 0.5;
outline-color: rgb(239, 239, 237);
outline-style: none;
outline-width: 0px;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 2px;
padding-left: 4px;
padding-right: 1px;
padding-top: 0px;
position: absolute;
right: 0px;
text-align: center;
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: 0px;
width: 16px;
word-spacing: 0px;
writing-mode: lr-tb;
z-index: 2;
}

sudoku-candidates-table {
-webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
border-bottom-color: rgb(128, 128, 128);
border-collapse: separate;
border-left-color: rgb(128, 128, 128);
border-right-color: rgb(128, 128, 128);
border-top-color: rgb(128, 128, 128);
color: rgb(168, 62, 62);
cursor: pointer;
display: table;
font-size: 36px;
height: 60px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: absolute;
text-align: center;
top: 0px;
width: 58px;
}

div > div {
border-collapse: separate;
color: rgb(168, 62, 62);
cursor: pointer;
display: table;
font-size: 36px;
height: 60px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
width: 58px;
}

span {
-webkit-transform: matrix(0, 0, 0, 0, 0, 0);
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.2s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease;
border-collapse: separate;
color: rgb(168, 62, 62);
cursor: pointer;
display: table-cell;
font-size: 36px;
height: 60px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
opacity: 0;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
transform: matrix(0, 0, 0, 0, 0, 0);
transition-delay: 0s;
transition-duration: 0.2s;
transition-property: all;
transition-timing-function: ease;
vertical-align: middle;
width: 58px;
}
div {
-webkit-animation-delay: 0.5s;
-webkit-animation-direction: normal;
-webkit-animation-duration: 0.8s;
-webkit-animation-fill-mode: none;
-webkit-animation-iteration-count: infinite;
-webkit-animation-name: pulse;
-webkit-animation-play-state: running;
-webkit-animation-timing-function: linear;
animation-delay: 0.5s;
animation-direction: normal;
animation-duration: 0.8s;
animation-fill-mode: none;
animation-iteration-count: infinite;
animation-name: pulse;
animation-play-state: running;
animation-timing-function: linear;
background-color: rgba(100, 100, 100, 0.0980392);
border-collapse: separate;
color: rgb(168, 62, 62);
cursor: pointer;
display: block;
font-size: 36px;
height: 60px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: center;
width: 58px;
}
 */