.num_select {
opacity: 100;
font-size: 0.3em;
height: 100%;
width: 100%;
margin: 0;
position: absolute;
top: 0;
left: 0;
z-index: 2;
pointer-events: none;
background-color: #841F1E;
padding: 2px;
border-radius: 7px;
box-shadow: 0 0 12px rgba(79, 18, 18, 0.3);
transition: .2s;
-webkit-font-smoothing: antialiased;
display: table;
border-collapse: separate;
border-color: gray;
}
::selection {
background: rgba(168, 62, 62,0.8);
color: #fff;
text-shadow: none;
}
.box .user {
color: #A83E3E;
cursor: pointer;
}
td {
width: 33%;
height: 33%;
border-color: #CCC;
border-style: dashed;
border-width: 2px 2px 0 0;
transition: 0.2s;
}
table {
display: table;
border-spacing: 2px;
border-color: gray;

width: 100%;
height: 100%;
border: #AAA solid 2px;
color: #777;
border-radius: 6px;
}
body {
font-family: arial;
font-size: 12px;
background: url('img/canvas-bg.jpg') 0 0;
}